.footer {
  margin-top: 16px;
  background-color: silver;
  height: auto;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

.contact-information ul,
.footer-section ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.contact-item {
  margin-bottom: 10px;
  font-weight: bold;
}

.contact-item i {
  margin-right: 10px;
}

.footer-section h1 {
  margin-bottom: 15px;
}

.footer-section li {
  margin-bottom: 10px;
  font-size: 16px;
}

.social-media {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 15px;
}

.social-media i {
  margin-bottom: 15px;
  color: black;
}

.email, .website, .contact-information i {
  padding-left: 16px;
  font-weight: bold;
}
